# Database URL for PostgreSQL connection
DATABASE_URL=postgresql://username:password@localhost:5432/database_name

# Port for the application to listen on
PORT=4242

# Environment mode (development, production, etc.)
NODE_ENV=development

# JWT configuration for vendor authentication
JWT_VENDOR_SECRET="JWT_VENDOR_SECRET"
# JWT token expiration time for vendor (e.g., 7 days)
JWT_VENDOR_EXPIRES_IN="7d"


# JWT configuration for customer authentication
JWT_CUSTOMER_SECRET="JWT_CUSTOMER_SECRET"
# JWT token expiration time for customer (e.g., 7 days)
JWT_CUSTOMER_EXPIRES_IN="7d"

# Supabase Storage Configuration
SUPABASE_URL=https://dilktbooxkxthvqspxge.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRpbGt0Ym9veGt4dGh2cXNweGdlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDY4NTg3NDMsImV4cCI6MjA2MjQzNDc0M30.kX0iwLnZY9BI93fBJSsv8Q0wAhvZ5xcHhPcn5KraKaE
SUPABASE_STORAGE_BUCKET=careerireland
SUPABASE_PUBLIC_ACCESS=true


# 
OTP_SALT=default-salt-change-in-production